.master-list-container {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .filter-section {
    margin-bottom: 1rem;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
  }
  
  .table th {
    background-color: #f4f4f4;
  }

  .mascotas-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre botones */
  }
  
  .mascotas-buttons .btn {
    min-width: 100px; 
    text-align: center;
  }
  
  .mascotas-buttons .btn.active {
    background-color: #876be4;
    color: white;
  }

 /*crear medicación*/

 /* Formulario colapsado */
.form-crear-medicacion.collapsed {
  display: none; /* Oculta el formulario */
}

/* Formulario expandido */
.form-crear-medicacion {
  display: block; /* Muestra el formulario */
}

.btn-success {
  background-color: #876be4;
  border-color: #e3b8da;
  color: white;
}
.btn-success:hover{
  background-color: #c2b8e3;
}

/* Común para los botones */
.btn-crear {
  background-color: #876be4;
  color: white;
  border-radius: 5px;
}
.btn-crear:hover{
  background-color: #5e34e8;
}
.btn-guardar{
  background-color: #876be4;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-guardar:hover{
  background-color: #5e34e8;
}

