.master-list-container {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .filter-section {
    margin-bottom: 1rem;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
  }
  
  .table th {
    background-color: #f4f4f4;
  }

  .mascotas-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre botones */
  }
  
  .mascotas-buttons .btn {
    min-width: 100px; /* Para que todos los botones tengan un ancho consistente */
    text-align: center;
  }
  
  .mascotas-buttons .btn.active {
    background-color: #007bff;
    color: white;
  }