<div class="perfil-container">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Parte superior dividida en dos -->
    <div class="top-section">


        <!-- Caja a la derecha para el botón de "Crear Mascota" -->
        <div class="right-box">
            <!-- Botón Crear -->
            <button type="button" class="btn-crear" (click)="toggleCollapse()">
                Crear Mascota
            </button>

            <!-- Formulario de Creación (colapsable) -->
            <div class="form-crear" [class.collapsed]="isCollapsed">
                <form [formGroup]="createPetForm" (ngSubmit)="createPet()">
                    <h3>Crear Mascota</h3>
                    <div class="row">
                        <div class="col-6">
                            <label for="tipo">Tipo:</label>
                            <input type="text" id="type" name="tipo" formControlName="type"
                                placeholder="Tipo de mascota" />
                        </div>
                        <div class="col-6">
                            <label for="raza">Raza:</label>
                            <input type="text" id="breed" name="raza" formControlName="breed" placeholder="Raza" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="petName" name="nombre" class="col-8" formControlName="petName"
                                placeholder="Nombre" />
                        </div>
                        <div class="col-6">
                            <label for="edad">Edad:</label>
                            <input type="date" id="dateBirth" name="fechaNacimiento" formControlName="dateBirth"
                                class="col-8" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="chip">Nº Chip:</label>
                            <input type="text" id="chip" name="chip" class="col-8" formControlName="chip"
                                placeholder="Número de Chip" />
                        </div>
                        <div class="col-6">
                            <label for="foto">Subir Foto:</label>
                            <input type="file" id="foto" name="foto" formControlName="foto" accept="image/*" (change)="onImageSelect($event)" />
                        </div>
                    </div>
                    <!-- Botón Guardar -->
                    <button type="submit" class="btn-guardar">Añadir</button>

                </form>
            </div>
        </div>
    </div>
    <!-- Línea divisoria con título -->
    <div class="linea-divisoria">
        <h2>Mascotas Actuales</h2>
    </div>

    <div class="lista-mascotas">
        <!-- Mostrar imágenes por defecto solo si no hay mascotas -->
        <ng-container *ngIf="mascotas.length === 0">
            <div class="mascota">
                <p>No hay mascotas disponibles</p>
            </div>
        </ng-container>

        <!-- Mostrar tarjetas de mascotas reales -->
        <div class="mascota" *ngFor="let mascota of mascotas">
            <img [src]="mascota.foto ? mascota.foto : 'assets/default-placeholder.jpg'" alt="Foto de la Mascota" />
            <a [routerLink]="['/perfil/detalle', mascota.id]" class="mascota-nombre">
                {{ mascota.petName }}
              </a>
            
            
        </div>
    </div>