.table-container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
/*Iconos de true o false*/
.icon {
  font-size: 24px; 
  vertical-align: middle;
}

.icon-active {
  color: rgb(225, 95, 199); 
}

.icon-inactive {
  color: rgb(109, 5, 78); 
}

