/* Colores */
:root {
  --header-bg: #E1DDF1;
  --sidebar-bg: #B8E3C1;
  --body-bg: #F8F4EB;
  --text-color: #333; /* Color del texto */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--body-bg);
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* LOGO CONTENEDOR */
.logo-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente el contenido dentro del contenedor */
  margin: 30px auto; /* Espaciado superior e inferior y centrado horizontal */
  width: 100%; /* Asegura que use el ancho completo del contenedor principal */
}

/* LOGO IMAGEN */
.logo-container img {
  width: 300px; /* Tamaño grande del logo (ajustable) */
  height: auto; /* Mantiene proporciones */
  object-fit: contain; /* Evita recortes o deformaciones */
}

/* CABECERA */
.header {
  background-color: var(--header-bg);
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.user-box {
  background-color: #d8a7f0; 
  padding: 5px 10px; 
  border-radius: 5px; 
  display: inline-block; 
  text-align: center;
  margin-bottom: 10px;
}

.logout-btn {
  background-color: #850cdb; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.cerrarSesion{
  background-color: #b14cff;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 14px;
}
.cerrarSesion:hover {
  background-color: #628df3; /* Más oscuro al pasar el ratón */
}

/* CONTENIDO PRINCIPAL */
.content {
  display: flex;
  flex: 1;
}

/* MENÚ LATERAL */
.sidebar {
  background-color: var(--sidebar-bg);
  padding: 20px;
  width: 250px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 16px;
}

.sidebar ul li a:hover {
  color: #007bff; /* Azul al pasar el ratón */
}

/* CUERPO PRINCIPAL */
.main-content {
  flex: 1;
  padding: 20px;
  background-color: var(--body-bg);
}

/* PIE DE PÁGINA */
.footer {
  background-color: var(--header-bg);
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer p {
  margin: 0;
}

.footer a {
  text-decoration: none;
  color: #007bff; /* Azul para el enlace */
}

.footer a:hover {
  text-decoration: underline;
}
