/* Colores */
:root {
  --header-bg: #E1DDF1;
  --sidebar-bg: #d6e1d9;
  --body-bg: #F8F4EB;
  --text-color: #333; 
}

/* Estilo general */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--body-bg);
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

/* CABECERA */
.header {
  background-color: var(--header-bg);
  display: flex;
  align-items: center; 
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 30px auto; 
  width: 100%;
}

.logo-container img {
  width: 300px;
  height: auto; 
  object-fit: contain; 
}

.user-box {
  background-color: #d8a7f0;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}

.cerrarSesion {
  background-color: #876be4;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  border: none;
  padding: 5px 10px;
}

.cerrarSesion:hover {
  background-color: #628df3;
}

/* CONTENIDO PRINCIPAL */
.content {
  display: flex;
  flex: 1; 
}

/* MENÚ LATERAL */
.sidebar {
  background-color: var(--sidebar-bg);
  padding: 20px;
  width: 250px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

/* menú */
.menu-item {
  display: block; 
  padding: 10px 15px;
  text-decoration: none; 
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px; 
  background-color: #92bb9b;
  text-align: center; 
  transition: background-color 0.3s ease; 
}

.menu-item:hover {
  background-color: #7fa988; 
}

.menu-item.active-link {
  background-color: #58ac6a; 
}

/* CUERPO PRINCIPAL */
.main-content {
  flex: 1; 
  padding: 20px;
  background-color: var(--body-bg);
}

/* PIE DE PÁGINA */
.footer {
  background-color: var(--header-bg);
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer p {
  margin: 0;
}

.footer a {
  text-decoration: none;
  color: #007bff; 
}

.footer a:hover {
  text-decoration: underline; 
}