<div class="home-container">
  <!-- CABECERA (se oculta en Login) -->
  <header class="header" *ngIf="!isLoginPage()">
    <div class="logo-container" *ngIf="!isLoginPage()">
      <img src="logo.png" alt="Logo" />
    </div>
    <button class="logout-btn" (click)="logout()">Cerrar Sesión</button>
  </header>

  <!-- CONTENIDO PRINCIPAL -->
  <div class="content">
    <!-- MENÚ LATERAL (se oculta en Login) -->
    <nav class="sidebar" *ngIf="!isLoginPage()">
      <ul>
        <li>
          <a 
            routerLink="/home" 
            routerLinkActive="active-link" 
            (click)="testClick($event)">
            Home
          </a>
        </li>
        <li><a routerLink="/perfil" routerLinkActive="active-link">Perfíl</a></li>
        <li><a routerLink="/pruebas" routerLinkActive="active-link">Pruebas</a></li>
        <li><a routerLink="/medicacion" routerLinkActive="active-link">Medicación</a></li>
        <li><a routerLink="/visitas" routerLinkActive="active-link">Visitas</a></li>
      </ul>
    </nav>

    <!-- CUERPO PRINCIPAL -->
    <main class="main-content">
      <!-- Aquí todas las rutas serán renderizadas -->
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- PIE DE PÁGINA (se oculta en Login) -->
  <footer class="footer" *ngIf="!isLoginPage()">
    <p>Cuidando Patas</p>
    <a href="https://instagram.com/cuidandopatas" target="_blank">Instagram</a>
  </footer>
</div>