/* Colores */
:root {
  --header-bg: #E1DDF1;
  --sidebar-bg: #d6e1d9;
  --body-bg: #F8F4EB;
  --text-color: #333; /* Color del texto principal */
}

/* Estilo general */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--body-bg);
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Asegura que ocupe toda la ventana */
}

/* CABECERA */
.header {
  background-color: var(--header-bg);
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;
  margin: 30px auto; /* Espaciado superior e inferior y centrado horizontal */
  width: 100%;
}

.logo-container img {
  width: 300px;
  height: auto; /* Mantiene proporciones */
  object-fit: contain; /* Evita recortes o deformaciones */
}

.user-box {
  background-color: #d8a7f0;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}

.cerrarSesion {
  background-color: #876be4;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  border: none;
  padding: 5px 10px;
}

.cerrarSesion:hover {
  background-color: #628df3;
}

/* CONTENIDO PRINCIPAL */
.content {
  display: flex;
  flex: 1; /* Toma todo el espacio disponible */
}

/* MENÚ LATERAL */
.sidebar {
  background-color: var(--sidebar-bg);
  padding: 20px;
  width: 250px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style: none; /* Sin viñetas en la lista */
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

/* Enlaces del menú */
.menu-item {
  display: block; /* Ocupar todo el ancho del recuadro */
  padding: 10px 15px;
  text-decoration: none; /* Sin subrayado */
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px; /* Bordes redondeados */
  background-color: #92bb9b; /* Azul claro */
  text-align: center; /* Texto centrado */
  transition: background-color 0.3s ease; /* Transición suave */
}

.menu-item:hover {
  background-color: #7fa988; /* Azul oscuro al pasar el ratón */
}

.menu-item.active-link {
  background-color: #58ac6a; /* Azul más oscuro para el activo */
}

/* CUERPO PRINCIPAL */
.main-content {
  flex: 1; /* Toma el área restante */
  padding: 20px;
  background-color: var(--body-bg);
}

/* PIE DE PÁGINA */
.footer {
  background-color: var(--header-bg);
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer p {
  margin: 0;
}

.footer a {
  text-decoration: none;
  color: #007bff; /* Azul para el enlace */
}

.footer a:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón */
}