/* You can add global styles to this file, and also import other style files */
/* Colores */
:root {
    --header-bg: #E1DDF1;
    --sidebar-bg: #B8E3C1;
    --body-bg: #F8F4EB;
    --text-color: #333; /* Color del texto */
  }
  


 
  
  