<div class="home-card">
    <h2>🐾 ¡Bienvenido a <strong>Cuidando Patas</strong>! 🐾</h2>
    <p>
        ¿Estás listo para revolucionar el cuidado de tus amigos peludos? Con <strong>Cuidando Patas</strong>,
        tendrás una ayuda para brindarles el amor y la atención que se merecen. ❤️
    </p>
    <ul>
        <li>📋 <strong>Organizar sus medicamentos como un profesional:</strong> Lleva el control de cada tratamiento,
            dosis, duración, pruebas y resultados, sin olvidar ni un solo detalle.</li>
        <li>⏱ <strong>Llevar un seguimiento fácil y rápido:</strong> ¡Porque sabemos que su salud es lo más importante!
        </li>
        <li>🐶 <strong>Un cuidado personalizado y único:</strong> Un espacio exclusivo con todos los datos para cada una
            de tus mascotas.</li>
    </ul>
    <p>
        Haz de este viaje un acto de amor. <strong>Cuidando Patas</strong> está aquí para que asegures el bienestar de
        esos increíbles compañeros que llenan tus días de alegría. 🌟
    </p>
    <p>💖 ¡Porque ellos merecen lo mejor, y tú también!</p>
</div>

<div class="home-card">
    <h2>📖 ¿Cómo usar <strong>Cuidando Patas</strong>?</h2>
    <p>
        Con <strong>Cuidando Patas</strong> cuidar de tus mascotas es más sencillo que nunca. Aquí tienes una pequeña
        guía
        para que aproveches al máximo todas nuestras funcionalidades:
    </p>
    <ul>
        <li>🐾 <strong>Perfil de tu mascota:</strong>
            <ul>
                <li> En la sección de perfil, podrás <strong>crear una mascota nueva</strong> añadiendo toda su
                    información,
                    como su nombre, raza, edad, y cualquier dato importante.</li>
                <li>Una vez creada, verás la imagen de tu mascota en la lista. <strong>Al hacer clic sobre
                        ella</strong>,
                    podrás acceder a todos los detalles de su perfil y las funcionalidades disponibles.</li>
            </ul>
        </li>
        <li>💊 <strong>Medicaciones:</strong>
            <ul>
                <li>Puedes <strong>añadir y gestionar las medicaciones</strong> que tu mascota está tomando.</li>
                <li>Registra si las medicaciones están activas o han finalizado para llevar un seguimiento detallado.
                </li>
                <li>Puedes hacer clic en <strong>"Crear"</strong> para añadir nuevas medicaciones fácilmente.</li>
            </ul>
        </li>
        <li>🩺 <strong>Pruebas:</strong>
            <ul>
                <li>En esta sección podrás <strong>guardar y registrar todas las pruebas médicas</strong> de tu mascota,
                    como análisis, radiografías o cualquier otro examen importante que se le haya realizado.</li>
                <li>Además, tienes la opción de <strong>crear nuevas pruebas</strong> y adjuntar la información
                    necesaria, para tener siempre al alcance un historial médico completo.</li>
            </ul>
        </li>
        <li>📅 <strong>Visitas:</strong>
            <ul>
                <li>Gestiona las consultas con el veterinario a través de la <strong>agenda de visitas</strong>.</li>
                <li>Puedes agregar nuevas citas y ver las visitas pendientes</li>
                <li>De esta manera, nunca olvidarás tus visitas importantes y mantendrás el seguimiento médico de tus
                    mascotas al día.</li>
            </ul>
        </li>
    </ul>

</div>